.metabox {
  background-color: color($lightYellow a(100%));
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

  &--position-up {
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
  }

  &--with-home-link {
    padding: 0px;
  }

  &__main {
    padding: 10px 15px 10px 11px;
  }

  p {
    margin: 0px;
    font-size: 1.4rem;
    color: color($mainYellow l(-45%) s(-33%));
    font-weight: 300;
  }

  a {
    color: color($mainYellow l(-45%) s(-33%));
    text-decoration: none;
    font-weight: 500;
    &:hover {
      /* border-bottom: 1px dotted color($mainYellow l(-45%) s(-33%)); */
    }
  }

  & &__blog-home-link {
    background-color: $mainBlue;
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px 0px 0px 3px;
    font-weight: normal;
  }
  & &__blog-home-link:hover {
    text-decoration: none;
    background-color: color($mainBlue l(-5%));
  }

} /* .metabox */
