/* COLORS */
$blackText: #333333;
$lightOrange: #ff793f;
$darkOrange: #F95738;
$mainBlue: #474787;
$mainYellow: #ffb142;
$lightYellow: #ffda79;
$darkBlue: #2c2c54;
$white: #FFFFFF;
$lightWhite: #F8F8F8;
$swanWhite: #f7f1e3;
